[package]
name = "wf-mods"
version = "0.1.0"
authors.workspace = true
edition.workspace = true
repository.workspace = true
license.workspace = true
publish.workspace = true

[dependencies]
lazy_static = "1.4.0"
wf-modifier-proc-macro.workspace = true
wf-stats.workspace = true
